.title-2 {
    margin-right: 40px;
    font-family: var(--font-titles);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 100%;
    color: var(--accent-1);
    text-transform: lowercase;
    float: left;
}

.title-1 {
    gap: 16px;
    font-family: var(--font-titles);
    font-weight: 400;
    font-size: 4rem;    
}

