.develop {
    height: 100svh;
    min-height: 660px;
    position: relative;
    padding-top: 156px;
    padding-bottom: 156px;
    overflow: hidden;   
}

.develop__block {
    justify-content: space-between;
    align-items: center;
    will-change: transform;
    padding-top: 54px;
    padding-bottom: 54px;
}

.develop__block-text {
    width: 55%;
}

.develop__title {
    // margin-left: 120px;
    span {
        background-color: var(--accent-1);
    }    
}


.develop__desc {
    display: flex;
    margin-top: 32px;
    margin-bottom: 36px;
    margin-left: 16%;
    max-width: 740px;
    font-weight: 400;
    font-size: 24px;
}
.develop__btn {    
    margin-left: 16%;  
}

.develop__img {
    width: 40%;
    border-radius: 40px;
    border-top-right-radius: 12.5rem;
    overflow: hidden;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scaleX(0.4);
		transform-origin: 0% 0%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 0% 0%;
	}
}